<template name="home">
    <div class="hero">
        <div class="hero-inner">
            <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image"></a>
            <div class="hero-copy">
                {{> Homebar }}
            </div>
            <button>Learn More</button>
        </div>
    </div>
    {{> LotController imgURL='wine.jpg' wineName='yellow tail' vintage='1901' region='adelaide' number='1' }}
</template>